extends ../../templates/base

block content

  - appname = "Cassis"

  div.menubar
    button.menu(type="text" onClick="setOptionsHome()" title="Home")
      i.fa.fa-home(aria-hidden="true")
    button.menu(type="button" id="back" onClick="goBack()" title="Zurück")
      i.fa.fa-chevron-left(aria-hidden="true")
    button.menu(type="button" id="forward" onClick="goForward()" title="Vorwärts")
      i.fa.fa-chevron-right(aria-hidden="true")
    div#dropdown.menu.right
      button.menu.right(type="button" title="Menü" onClick="showDropdownMenu()")
        i.fa.fa-bars(aria-hidden="true")
      div#dropdown-content
        p(onClick="getPage('/cassis/tags/' + getOption('tagId'))" title="Auswahl des Genres") Genre
        p(onClick="getPage('/cassis/cc/5/' + getOption('ccId'))" title="Reiseführer: Auswahl des Landes") Reiseführer
        p(onClick="getPage('/cassis/cc/6/' + getOption('ccId'))" title="Sachbücher: Auswahl der Sachgebiets") Sachbücher
        p(onClick="getPage('/cassis/info')" title="Info") Info
    button.two.menu.right(type="text" onClick="setSortString('timestamp')" title="Sortieren nach Zeitstempel")
      i.fa.fa-clock(aria-hidden="true")
      i.fa.fa-arrows-v(aria-hidden="true")
    button.two.menu.right(type="text" onClick="setSortString('title')" title="Sortieren nach Buchtitel")
      i.fa.fa-book(aria-hidden="true")
      i.fa.fa-arrows-v(aria-hidden="true")
    button.two.menu.right(type="text" id='authorsort' onClick="setSortString('author')" title="Sortieren nach Autorennamen")
      i.fa.fa-user(aria-hidden="true")
      i.fa.fa-arrows-v(aria-hidden="true")
      
    div.menubar-sub(id='searchInputGroup')
      input(type="text" id="searchInput" placeholder="Autor / Titel / Serie" value=searchString autofocus title="Eingabe der Suchbegriffe")
      button.menu(type="button" id="clearInput" onClick="clearSearchInput()" title="Eingabe löschen")
        i.fa.fa-times(aria-hidden="true")
      button.menu(type="text" id="submitSearch" onClick="setOptionsSearch()" title="Suche starten")
        i.fa.fa-search(aria-hidden="true")
        
  #app(onClick="getElementById('dropdown-content').style.display='none'")

    noscript
      div.message
        h3 Zur Anzeige wird Javascript benötigt. Bitte einschalten.

    #books

      script(type='text/javascript').
        docReady("#{type}", "#{id}");

        