:root {
  /*Farbe: Schrift, Linien bzw. Hintergrund*/
  --col01: #000000;
  --col02: #ffffff;
  --col03: #e7e7e7;
  --col04: #337ab7;

  /*    --col01: #ffffff;
  --col02: #cb4848;
  --col03: #cb4848;
  --col04: #ffcb6b;  */

  /*     --col01: #ffffff;
  --col02: #000;
  --col03: #000;
  --col04: #fac39c;  */

  --border01: 2px solid var(--col01);
  --border02: 2px solid var(--col02);
  --border03: 2px solid var(--col03);
  --border04: 2px solid var(--col04);


  --fontnormal: 540;
  --fontbold: 780;

  --shadow-border: 2px solid hsla(200, 3%, 64%, 0.66);
  --shadow: -12px 12px 5px 0px hsla(200, 3%, 64%, 0.66);

  /* -12px 12px 5px 0px hsla(198, 6%, 60%, 0.66); */
  /* -12px 12px 5px 0px hsla(200, 3%, 64%, 0.66); */
  /* 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.color01 {
  color: var(--col01) !important;
}

.color02 {
  color: var(--col02) !important;
}

.color03 {
  color: var(--col03) !important;
}

.color04 {
  color: var(--col04) !important;
}

.background01 {
  background-color: var(--col01) !important;
}

.background02 {
  background-color: var(--col02) !important;
}

.background03 {
  background-color: var(--col03) !important;
}

.background04 {
  background-color: var(--col04) !important;
}

.border01 {
  border: var(--border01) !important;
}

.border02 {
  border: var(--border02) !important;
}

.border03 {
  border: var(--border03) !important;
}

.border04 {
  border: var(--border04) !important;
}

.border00 {
  border: var(--border00) !important;
}

.border00:hover {
  border: none !important;
}

path {
  fill: "#ffffff";
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
  color: var(--col01);
  background-color: var(--col02);
  overflow-x: hidden;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  margin: 0px;
  line-height: 120%;
  text-decoration: none;
  font-weight: var(--fontnormal);
}

h1 {
  font-weight: var(--fontbold);
  padding-top: 12px;
  margin-bottom: 12px;
}

h2 {
  font-weight: var(--fontbold);
  margin-top: 20px;
  margin-bottom: 12px;
}

h3 {
  font-weight: var(--fontnormal);
  margin-top: 12px;
  margin-bottom: 12px;
  color: var(--col02);
}

h4 {
  font-weight: var(--fontbold);
  margin-top: 12px;
  margin-bottom: 12px;

  padding: 5px;
  width: 100%;
  border-bottom: 2px solid var(--col04);
}

h5 {
  font-weight: var(--fontbold);
}

h6 {
  margin-top: 0px;
  margin-bottom: 4px;
}

h1,
h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}


h4,
h5,
h6,
p,
li,
a {
  font-size: 18px !important;
}

#app {
  position: relative;
  top: 45px;
}

.panel {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

#menubar {
  position: fixed;
  width: 100%;
  min-width: 380px;
  background-color: var(--col04);
  z-index: 50;
}

.menu {
  width: 45px;
  height: 45px;
  margin: 0px;
  padding: 0px;
}

.menu

/* ,
.menu:link,
.menu:visited */
  {
  color: var(--col02);
  background-color: var(--col04);
  border: var(--border04);
}

.menu:hover

/* ,
.menu:active */
  {
  border: var(--border02);
}

#footer {
  display: none;
  position: fixed;
  bottom: 0px;
  left: 0px;
  margin-bottom: 0px;
  height: 48px;
  width: 100%;
  /*min-width: 320px; */
  z-index: 50;

  background-color: var(--col04);
  text-align: center;
}

#footer .tag {
  padding-top: 12px;
}

.action {
  text-align: center;
  border-radius: 10px;
  box-shadow: var(--shadow);

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;

  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.action

/* ,
.action:link,
.action:visited */
  {
  color: var(--col02);
  background-color: var(--col04);
}

.action:hover

/* ,
.action:active  */
  {
  color: var(--col04);
  background-color: var(--col03);
}

input,
select,
button {
  border-radius: 0px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.loginbutton {
  color: var(--col02);
  background-color: var(--col04);
  font-weight: var(--fontbold);
  padding: 8px 16px;
  margin-top: 16px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  height: 40px;
  width: 100%;
}

input {
  cursor: text;
  margin-top: 5px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 5px;
  height: 30px;
  padding: 10px;
}

input[type=checkbox] {
  position: relative;
  bottom: 8px
}

input[type=text],
input[type=password] {
  border: var(--border03);
}


table.info {
  border: var(--border03);
  box-shadow: var(--shadow);
  border: var(--shadow-border);
  margin: 20px 25%;
  width: 50%;
}

table.info td {
  font-size: 20px;
  text-align: center;
  border: var(--border03);
  padding: 5px;
  height: 100px;
}

table.info select {
  font-size: 18px;
  width: 125px;
  margin: 10px;
  float: unset;
}

table.info .text {
  font-size: 16px;
  padding: 3px 10px;
  margin: 7px 15%;
  width: 70%
}

table.popup {
  position: absolute;

  color: var(--col01);
  background-color: var(--col02);
  border: var(--shadow-border);

  top: 80px;
  margin-left: 35%;
  margin-right: 35%;
  z-index: 70;
}


table.popup td,
table.popup th {
  font-size: 16px;
  text-align: center;
  padding: 5px 10px;
  margin: 0px;
  width: 50%;
}

table.popup th {
  background-color: var(--col03);
}

table.popup td {
  font-weight: var(--fontnormal);
}

.tags {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: var(--shadow);
  border: var(--shadow-border);
  width: 320px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.tags p {
  color: var(--col01);
  padding: 8px 12px;
  border: var(--border02);
  text-decoration: none;
  display: block;
  text-align: left;
}

.tags p:hover {
  border: var(--border04);
}

.tags .selected p {
  border: var(--border04);
}

.item tr,
.item td {
  padding: 0px;
  margin: 0px;
}

td.img {
  text-align: center;
  padding: 0px;
  margin: 0px;
}

td.serie {
  height: 50px
}

span.enum+span.enum:before {
  content: ", ";
}


div.item {
  display: block;
  flex-direction: column;
  float: none;

  margin-top: 7px;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 0px;
}

div.itemgrid {
  display: grid;
  grid-template-rows: auto auto;
}

img.itemcover {
  position: absolute;
  border: 9px solid transparent;
}

img.itemcover:hover {
  box-shadow: var(--shadow);
  background-color: var(--col04);
  border: 0px;
  z-index: 20;
}

.itemserie,
.itemtitle,
.itemauthor,
.itemcover,
h3.button {
  cursor: pointer;
}

div.itemimg {
  text-align: left;
}

div.itemtxt {
  position: left;
  width: 100%;
  text-align: left;
}

.textbox {
  color: var(--col04);
  background-color: var(--col03);
  font-weight: var(--fontnormal);
  border: var(--border02);
  padding: 0px 5px;
  text-align: center;
  /*   text-decoration: none;
  display: inline-block; */
  margin: 0px;
  cursor: pointer;
  width: 100%;
}

.text {
  color: var(--col01);
  background-color: var(--col02);
  border: var(--border02);
  font-weight: var(--fontnormal);
  border: none;
  padding: 0px;
  margin: 0px;
}

.textbox:hover,
.text:hover {
  border: var(--border04);
}

.bookpage .text {
  font-size: 24px;
}

#tags .text {
  font-size: 18px;
  width: 100%;
}



.chevrons {
  background-color: var(--col02);
  font-size: 60px;
  opacity: 0.3;
  position: fixed;
  top: 40%
}

/* Style the dropdown content (hidden by default) */
#dropdown {
  display: none;
  position: fixed;
  right: 50px;
  top: 50px;
  background-color: var(--col03);
  min-width: 160px;
  box-shadow: var(--shadow);
  border: var(--shadow-border);
  z-index: 140;
}

/* Style the links inside the dropdown */
#dropdown p {
  float: none;
  color: var(--col01);
  padding: 12px 16px;
  border: var(--border02);
  text-decoration: none;
  display: block;
  text-align: left;
}

#dropdown p:hover {
  border: var(--border04);
}

#pagedown {
  width: 100%;
  text-align: center;
  background-color: var(--col04);
}

#transparent {
  opacity: 0.3;
  display: none;
  background-color: var(--col04);
  position: fixed;
  width: 100%;
  height: 100%;
  z-Index: 60;
}

#message {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: lightgrey;
  z-Index: 60;
}


.left {
  float: left;
}

.right {
  float: right;
}

.pointer {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  opacity: 0.3;
}

.center {
  text-align: center !important;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.trans-left {
  transform: translateX(-100%);
}

.trans-right {
  transform: translateX(100%);
}

.trans-null {
  transform: translateX(0%);
}

.swipe-left-transition {
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.swipe-right-transition {
  transition: transform 0.5s ease-in-out;
  transform: translateX(100%);
}

.swipe-null-transition {
  transition: transform 0.5s ease-in-out;
  transform: translateX(0%);
}


#bookcontent div h4 {
  position: relative;
  color: transparent;
  /* versteckt Originalinhalt */
}

#bookcontent div h4::before {
  content: "Autoren-Info";
  color: var(--col01);
  /* hebt die Transparenz auf */
  position: absolute;
  left: 0;
  top: 0;
}

.checkbox {
  text-align: left;
  margin: 5px auto;
  margin-bottom: -10px;
  width: 120px;
}

.checkbox label {
  position: relative;
  bottom: 15px
}

/* The transition-timing-function property can have the following values: 

ease - specifies a transition effect with a slow start, then fast, then end slowly (this is default) 
linear - specifies a transition effect with the same speed from start to end
ease-in - specifies a transition effect with a slow start 
ease-out - specifies a transition effect with a slow end 
ease-in-out - specifies a transition effect with a slow start and end 
cubic-bezier(n, n, n, n) - lets you define your own values in a cubic-bezier function */

/*****************************************************************************/
/********************** Bildschirm: Breite über 1200 px *********************/
/*****************************************************************************/

.bookview {
  display: flex;
  margin-top: 10px;
  width: calc(50% + 400px) !important;
  margin-left: auto;
  margin-right: auto;
}

.bookcontainer {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}

.bookhead {
  height: 50px;
}

.bookpage {
  display: flex;
  margin-bottom: 60px;
}

.bookcolumn {
  margin-top: 0px;
  vertical-align: top;
}

.bookcolumn h3 {
  color: var(--col04);
  background-color: var(--col02);
}

.columnspace {
  min-width: 32px;
}

.bookbox {
  text-align: center;
  width: 100%;
  vertical-align: top;
  margin-bottom: 20px;
}

.item {
  width: 250px;
}

/* cover-image Liste */
td.img {
  height: 250px;
}

/* cover-image Liste */
img.itemcover {
  height: 250px;
  top: 55px;
  left: 50%;
  transform: translateX(-50%)
}

/* cover-image Book-Details */
img#bookcover {
  box-shadow: var(--shadow);
  margin-top: 10px;
  margin-bottom: 10px;

  width: 320px !important;
}

p.serie {
  width: 220px;
}

.container {
  position: relative;
}

.containerbox {
  position: absolute;
  top: 225px;
  left: -7px;
  width: 50%;
  z-index: 10;
}

#searchStringGroup {
  display: flex;
  flex-direction: row;
}

#searchInput {
  width: calc(35% + 80px);
  max-width: 800px;
  padding-left: 0px;
  padding-right: 0px;
}

div.pageup {
  width: 100%;
  padding-top: 36px;
  padding-bottom: 0px;
  text-align: center;
  background-color: var(--col04);
  height: 84px;
}

/*****************************************************************************/
/********************** Bildschirm: Breite unter 1200 px *********************/
/*****************************************************************************/

@media screen and (max-width: 1200px) {

  .bookview {
    width: calc(1200px - 20%) !important;
  }

  .item {
    width: 220px;
    margin: 10px;
  }

  /* cover-image Book-Details */
  img#bookcover {
    width: 280px !important;

  }

  table.info {
    margin: 20px 20%;
    width: 60%;
  }

  table.popup {
    margin-left: 25%;
    margin-right: 25%;
    /* width: 50%; */
  }

  #bookcontent {
    padding-right: 120px;
  }

  .container {
    position: relative;
  }

  .containerbox {
    position: absolute;
    top: 225px;
    left: -7px;
    width: 50%;
    z-index: 10;
  }

  #searchInput {
    width: calc(32% + 50px);
    max-width: 500px;
  }
}

/*****************************************************************************/
/********************** Bildschirm: Breite unter 900 px **********************/
/*****************************************************************************/

@media screen and (max-width: 900px) {

  .bookview {
    width: 100% !important;
  }

  .pageup {
    padding-top: 74px;
    height: 120px;
  }

  #app {
    top: 90px;
    /*für Swipe*/
    /* user-select: none;
    touch-action: pan-y; */
    /* Verhindert vertikales Scrollen */
    cursor: grab;
  }


  .bookpage {
    display: block;
  }

  .item {
    width: 170px;
    margin: 8px;
  }

  table.info {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

  /* cover-image Liste */
  td.img {
    height: 185px;
  }

  img.itemcover {
    height: 200px;
    top: 45px;
    left: 50%;
    transform: translateX(-50%)
  }

  /* cover-image Book-Details */
  img#bookcover {
    width: 220px !important;
  }

  table.popup {
    margin-left: 10%;
    margin-right: 10%;
    /* width: 80%; */
  }

  p.serie {
    width: 170px;
  }

  #bookcontent {
    padding-right: 20px;
  }

  .containerbox {
    position: absolute;
    top: 180px;
    left: -7px;
    width: 50%;
    z-index: 10;
  }

  .container {
    position: relative;
  }

  #searchInputGroup {
    clear: left;
  }

  #searchInput {
    width: calc(100% - 110px);
    max-width: 400px;
  }
}