
doctype html
html(lang="en")
  head    
    meta(charset="UTF-8")

    meta(name="mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="translucent black")

    meta(name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width")
    meta(name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1")

    title Cassis Bibliothek

    link(rel="stylesheet" href="/style.css")
    link(href="/assets/fontawesome/css/all.min.css" rel="stylesheet")
    link(rel="icon" type="image/x-icon" href="/assets/favicon.ico")
    link(rel="icon" type="image/x-icon" href="/assets/apple-touch-icon.png")
    link(rel="apple-touch-icon" href="/assets/apple-touch-icon.png")
    
    script(src="/app.js")

  body
  
    block content
      div Kein Inhalt





